<div id="wrapper">
    <h1>Penjualan</h1>

    <div class="row col-md-12"> 
        <div class="col-lg-8" >
            <div class="col-xs-12">
                <label class="col-xs-3">No. Transaksi</label>
                <div class="col-xs-6" >
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="col-xs-12">
                <label class="col-xs-3">Tanggal</label>
                <div class="col-xs-6" >
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="col-xs-12">
                <label class="col-xs-3">Pelanggan</label>
                <div class="col-xs-8 input-group custom-search-form wrapper" >
                    <input type="text" class="form-control"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="reloadItempage(search, 0)">
                            <i class="glyphicon glyphicon-search" ></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="background: #269abc">

        </div>

    </div>
</div>

